:root {
    --primary-color: #FF7833;
    --secondeary-color: #31333b;
    --main-background-color: #444856;    
}

html {
    font-size: 62.5%;
}

body {
    display: flex;
    margin: 0;
    color: #e7e7e7;
    background-color: #ccc;
    min-height: 100vh;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.main-header {
    flex: 0 0 26rem;
    background-color: var(--secondeary-color);
}

.main-container {
    background-color: var(--main-background-color);
    flex: 1 0 0;
}

a {
    color: inherit;
}